<!-- 模式管理 -->
<title> 模式管理 </title>
<include file="Common:matrix_header" />
<include file="Common:matrix_menu" />
<include file="Common:matrix_leftbar_public3" />
<include file="Common:msgFootable" />
<!-- <script src="/Public/common/js/msgFootable.js"></script> -->
<!-- 中间 -->
<div class="wrap-fluid jt_branchMain jt_basicMain jt_main">
    <div class="container-fluid paper-wrap bevel tlbr">
        <div class="content-wrap">
            <div class="row">
                <div id="paper-top">
                    <div class="col-sm-3">
                        <h2 class="tittle-content-header">
                            <i class="icon-media-record"></i>
                            <span>模式管理</span>
                        </h2>
                    </div>
                    <include file="Common:matrix_mainMiddle" />
                    <div class="col-sm-2">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="btn-group btn-wigdet pull-right visible-lg">
                            <div class="btn">
                                Widget</div>
                            <button data-toggle="dropdown" class="btn dropdown-toggle jt_dropTo" type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span class="entypo-plus-circled margin-iconic"></span>Add New
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-heart margin-iconic"></span>Favorite
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-cog margin-iconic"></span>Setting
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 jt_rowNest1">
                <div class="nest" id="FootableClose">
                    <div class="title-alt">
                        <h6>
                            模式管理
                        </h6>
                        <div class="titleClose">
                            <a class="gone" href="#FootableClose">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Footable">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>
                    <div class="body-nest" id="Footable">
                        <table class="table-striped footable-res footable metro-blue" data-page-size="10">
                            <thead>
                            <tr>
                                <th>模式名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="modulelist" id="v">
                                <tr>
                                    <td class="jt_hiddenTd3">{$v.name}</td>
                                    <td class="jt_hiddenTd4">
                                        <div class="btn-group">
                                            <button class="btn btn-warning btn-editmodule" data-id="{$v.id}" data-name="{$v.name}" data-toggle="modal" data-target="#updataMSMsg">修&nbsp;改</button>
                                            <button class="btn btn-danger btn-delmodule" data-id="{$v.id}">删&nbsp;除</button>
                                        </div>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <div class="pagination pagination-centered"></div>
                                </td>
                            </tr>
                            </tfoot>
                            <div class="btn-group">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#saveMS">添加模式</button>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 修改模式 -->
<div aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade bs-example-modal-lg" aria-hidden="true" id="updataMSMsg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close">
                    <span class="entypo-cancel"></span>
                </button>
                <h6 class="modal-title">修改模式</h6>
            </div>
            <div class="modal-body">
                <div class="compose_mail">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">模式名称</label>
                            <div class="col-sm-10">
                                <input type="text" id="editmodelname" placeholder="模式名称" class="form-control">
                            </div>
                        </div>
                        <div class="form-group jt_btnGroupWZ">
                            <button class="btn col-sm-offset-2 editmodelok">确&nbsp;认</button>
                            <button class="btn" data-dismiss="modal" aria-hidden="true">取&nbsp;消</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    id = "";
    $(".btn-editmodule").click(function(event) {
        id = $(this).attr('data-id');
        var name = $(this).attr('data-name');
        $("#editmodelname").val(name);
    });
    $(".editmodelok").click(function(event) {
        var name = $("#editmodelname").val();
        $.post('/Matrix/modelEdit', {id: id,name: name,action: 'edit'}, function(sdata) {
            alert(sdata.msg);
            if(sdata.status){
                location.reload();
            }
        });
    });
    $(".btn-delmodule").click(function(event) {
        id = $(this).attr('data-id');
        if (confirm("确认要删除？")) {
            $.post('/Matrix/modelEdit', {id: id,action: 'del'}, function(sdata) {
                alert(sdata.msg);
                if(sdata.status){
                    location.reload();
                }
            });
        }
    });
</script>
<include file="Common:footer" />
</body>
</html>