<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>mylife-chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="/chat/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <link href="/chat//css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/loader-style.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/media.css">
    <link rel="stylesheet" href="assets/css/social.css">

  <script type="text/javascript" src="/chat/js/swfobject.js"></script>
  <script type="text/javascript" src="/chat/js/web_socket.js"></script>
  <!-- <script type="text/javascript" src="/chat/js/jquery.min.js"></script> -->
  <script src="__JS__jquery-2.1.1.js"></script>
  <script src="__JS__bootstrap.min.js"></script>
  <script src="__JS__plugins/slider/bootstrap-slider.js"></script>

  <script type="text/javascript">
    if (typeof console == "undefined") {    this.console = { log: function (msg) {  } };}
    // 如果浏览器不支持websocket，会使用这个flash自动模拟websocket协议，此过程对开发者透明
    WEB_SOCKET_SWF_LOCATION = "/chat/swf/WebSocketMain.swf";
    // 开启flash的websocket debug
    WEB_SOCKET_DEBUG = true;
    var ws, name, client_list={};
    name = "{$username}";
    uid = "{$uid}";

    // 连接服务端
    function connect() {
       // 创建websocket
       ws = new WebSocket("ws://"+document.domain+":7272");
       console.log(ws);
       // 当socket连接打开时，输入用户名
       ws.onopen = onopen;
       // 当有消息时根据消息类型显示不同信息
       ws.onmessage = onmessage; 
       ws.onclose = function() {
        console.log("连接关闭，定时重连");
          connect();
       };
       ws.onerror = function() {
        console.log("出现错误");
       };
    }

    // 连接建立时发送登录信息
    function onopen()
    {
        if(!name)
        {
            show_prompt();
        }
        // 登录
        var login_data = '{"type":"login","client_name":"'+name.replace(/"/g, '\\"')+'","room_id":"<?php echo isset($_GET['room_id']) ? $_GET['room_id'] : 1?>"}';
        console.log("websocket握手成功，发送登录数据:"+login_data);
        ws.send(login_data);
    }

    // 服务端发来消息时
    function onmessage(e)
    {
        console.log(e.data);
        var data = eval("("+e.data+")");
        if (data['type'] == undefined) {
          console.log('test');
        }
        switch(data['type']){
            // 服务端ping客户端
            case 'ping':
                // ws.send('{"type":"pong"}');
                break;;
            // 登录 更新用户列表
            case 'login':
                //{"type":"login","client_id":xxx,"client_name":"xxx","client_list":"[...]","time":"xxx"}
                say(data);
                var clientid = data['client_id'];
                $.post('Mylife/bind', {client_id: clientid}, function(data){}, 'json');
                if(data['client_list'])
                {
                    client_list = data['client_list'];
                }
                else
                {
                    client_list[data['client_id']] = data['client_name']; 
                }
                flush_client_list();
                // console.log(data['client_name']+"登录成功");
                break;
            // 发言
            case 'say':
                //{"type":"say","from_client_id":xxx,"to_client_id":"all/client_id","content":"xxx","time":"xxx"}
                say(data);
                break;
            // 我的工作
            case 'mywork':
                //{"type":"say","from_client_id":xxx,"to_client_id":"all/client_id","content":"xxx","time":"xxx"}
                mywork(data['from_client_id'], data['from_client_name'], data['content'], data['time']);
                break;
            // 比赛结果
            case 'mycontest':
                //{"type":"say","from_client_id":xxx,"to_client_id":"all/client_id","content":"xxx","time":"xxx"}
                mycontest(data);
                break;
            // 用户退出 更新用户列表
            case 'logout':
                //{"type":"logout","client_id":xxx,"time":"xxx"}
                say(data['from_client_id'], data['from_client_name'], data['from_client_name']+' 退出了', data['time']);
                delete client_list[data['from_client_id']];
                flush_client_list();
        }
    }

    // 输入姓名
    function show_prompt(){  
        name = prompt('输入你的名字：', '');
        if(!name || name=='null'){  
            name = '游客';
        }
    }  

    // 提交对话
    function onSubmit() {
      var input = document.getElementById("textarea");
      var to_client_id = $("#client_list option:selected").attr("value");
      var to_client_name = $("#client_list option:selected").text();
      ws.send('{"type":"say","to_client_id":"'+to_client_id+'","to_client_name":"'+to_client_name+'","content":"'+input.value.replace(/"/g, '\\"').replace(/\n/g,'\\n').replace(/\r/g, '\\r')+'"}');
      input.value = "";
      input.focus();
    }

    //开始工作
    function startworks(){
      // $.post('Mylife/mywork',{name:name},function(data){}, 'json');
      ws.send('{"type":"mywork","uid":'+uid+'}');
    }

    //开始工作
    function stoptworks(){
      // $.post('Mylife/mywork',{name:name},function(data){}, 'json');
      ws.send('{"type":"mywork","uid":'+uid+',"stop":"1"}');
    }

    // 刷新用户列表框
    function flush_client_list(){
      var client_list_slelect = $("#client_list");
      client_list_slelect.empty();
      client_list_slelect.append('<option value="all" id="cli_all">所有人</option>');
      for(var p in client_list){
            $("#userlist ul").append('<li id="'+p+'">'+client_list[p]+'</li>');
            client_list_slelect.append('<option value="'+p+'">'+client_list[p]+'</option>');
        }
      $("#client_list").val(select_client_id);
    }

    // 发言
    function say(data){
      console.log(data)
      if (data["type"] == "login") {
        var html = '<span class="tittle-alert entypo-info-circled"></span><strong> '+data['client_name']+'</strong>&nbsp;&nbsp;加入了房间'+data['room_id']+', '+data["time"];
        $("#gonggao").html(html);
      }else{
        $("#dialog").append('<div class="speech_item"><img src="/chat/img/face_default.jpg" class="user_icon" /> '+data["from_client_name"]+' <br> '+data["time"]+'<div style="clear:both;"></div><p class="triangle-isosceles top">'+data["content"]+'</p> </div>');
      }
      
    }

    // 工作
    function mywork(from_client_id, from_client_name, content, time){
      getuserinfo()
      $("#mywork").append('<div class="speech_item"> 渡鸦：'+time+'<div style="clear:both;"></div><p class="triangle-isosceles top">'+content+'</p> </div>');
    }

    // 实况
    function mycontest(data){
      if (data['group'] == 'm') {
        $("#contestatlast").append('<p class="triangle-isosceles top">'+data["content"]+'</p>');
      }
      if (data['group'] == 'e') {
        $("#contestatlast").append('<p class="triangle-isosceles redjb top">'+data["content"]+'</p>');
      }
      if (data["m"]>=0 && data["e"]>=0) {
        // var html = '本队<p size="5" color="#FF0000">'+m+'</p> 敌队<p size="5" color="#FF0000">'+e+'</p>';
        var html2 = '本队：'+data["m"]+' 敌队：'+data["e"];
        $("#contestatlast h2").html(html2);
      }      
    }

    //更新个人资料
    function getuserinfo(){
      $.get('Mylife/userinfoAjax', function(sdata){
        $("#myene").html(sdata.ene);
        $("#mymoney").html(sdata.money);
      });
    }

    $(function(){
      select_client_id = 'all';
      $("#client_list").change(function(){
           select_client_id = $("#client_list option:selected").attr("value");
      });
    });
  </script>
</head>
<body onload="connect();">
    <!-- <div class="container-fluid">
      <div class="row clearfix">
          <div class="col-md-1 column">
          </div>
          <div class="col-md-6 column">
             <div class="thumbnail">
                 <div class="caption" id="dialog"></div>
             </div>
             <form onsubmit="onSubmit(); return false;">
                  <select style="margin-bottom:8px" id="client_list">
                        <option value="all">所有人</option>
                    </select>
                    <textarea class="textarea thumbnail" id="textarea"></textarea>
                    <div class="say-btn"><input type="submit" class="btn btn-default" value="发表" /></div>
               </form>
               <div>
               &nbsp;&nbsp;&nbsp;&nbsp;<b>房间列表:</b>（当前在&nbsp;房间<?php echo isset($_GET['room_id'])&&intval($_GET['room_id'])>0 ? intval($_GET['room_id']):1; ?>）<br>
               &nbsp;&nbsp;&nbsp;&nbsp;<a href="?room_id=1">房间1</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="?room_id=2">房间2</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="?room_id=3">房间3</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="?room_id=4">房间4</a>
               <br><br>
               </div>
          </div>
          <div class="col-md-3 column">
            <div class="thumbnail">
               <div class="caption" style="height: 200px" id="userinfo"><h4>我的属性</h4><ul>
                 精力：<p id="myene">{$userinfo.ene}</p>
                 金币：<p id="mymoney"> {$userinfo.money}</p>

               </ul></div>
            </div>
             <div class="thumbnail">
                 <div class="caption yslide" id="userlist"><h4>在线用户</h4><ul></ul></div>
             </div>
            <div class="thumbnail">
              <div class="caption yslide" style="height: 335px" id="mywork"></div>
              <button onclick="startworks();">开工</button>
              <button data-toggle="modal" data-target="#contest_1">练习赛</button>
            </div>
          </div>
      </div>
    </div> -->
  <div class="wrap-fluid" style="width: auto;">
    <div class="container-fluid paper-wrap bevel tlbr">
            <!-- CONTENT -->
            <!--TITLE -->
            <div class="row">
                <div id="paper-top">
                    <div class="col-sm-3">
                        <h2 class="tittle-content-header">
                            <span class="entypo-doc-text"></span>
                            <span>首页
                            </span>
                        </h2>

                    </div>

                    <div class="col-sm-7">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="tittle-middle-header">

                            <div class="alert">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <p id="gonggao">
                                </p>
                            </div>


                        </div>

                    </div>
                    <div class="col-sm-2">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="btn-group btn-wigdet pull-right visible-lg">
                            <div class="btn">
                                快捷菜单</div>
                            <button data-toggle="dropdown" class="btn dropdown-toggle" type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span class="entypo-plus-circled margin-iconic"></span>Add New</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-heart margin-iconic"></span>Favorite</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-cog margin-iconic"></span>Setting</a>
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>
            </div>
            <!--/ TITLE -->
            <!--CONTENT-->
            <div class="row" style="margin-top:30px;padding:0 15px;">
                <!--  BLOG CONTENT -->
                <div class="col-sm-8">

                    <div class="blog-list-nest">
                        <div class="panel-body">
                            <img class="img-circle pull-left" src="/assets/img/10.jpg">
                            <div class="social-profile">
                                <h3> <a class="tweet-link" href="#">Ahmad Heavy Folder</a>
                                    <span><i class="entypo-globe"></i>&nbsp;1 hours ago</span>
                                </h3>
                                <p>mungkin pengemis yg baru saja mampir kerumah jauh lebih kaya dari saya...(minimal kaya daging, dia gemuk sedang saya kurus)....</p>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                            <!-- <div class="social-content">
                                <div class="social-header" style="margin: -5px 0 0px;">
                                    <a class="tweet-link" onclick="hidepl(this);" href="javascript:void(0);">
                                        <span class="entypo-loop"></span>2个 回复
                                    </a>
                                </div>
                                <ul>
                                    <li>
                                        <img class="img-social-content img-circle pull-left" src="http://api.randomuser.me/portraits/thumb/men/21.jpg">
                                        <span><a style="color:#0AA699;" href="#">今日有喜</a> nek do menehi wujud pangan palingo,,dadi gendut...he he he
                                            <br>
                                            <b>5 Minute</b>
                                        </span>

                                    </li>

                                    <li>
                                        <img class="img-social-content img-circle pull-left" src="http://api.randomuser.me/portraits/thumb/men/29.jpg">
                                        <span><a class="tweet-link" href="#">笑你在笑</a> lha pengemise mau nganggo wewangian/parfum barang....elok tenan...
                                            <a class="tweet-link" href="#">@Ciwuk Hartadi</a>
                                            <br>
                                            <b>13 Minute</b>
                                        </span>

                                    </li>
                                    <form>
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="btn">+1</button>                    
                                            </div>
                                            <input type="text" placeholder="回复" class="form-control">
                                        </div>
                                    </form>
                                </ul>                                    
                            </div> -->
                        </div>
                        <div class="panel-body">
                            <img class="img-circle pull-left" src="/assets/img/10.jpg">
                            <div class="social-profile">
                                <h3> <a class="tweet-link" href="#">Ahmad Heavy Folder</a>
                                    <span><i class="entypo-globe"></i>&nbsp;1 hours ago</span>
                                </h3>
                                <p>mungkin pengemis yg baru saja mampir kerumah jauh lebih kaya dari saya...(minimal kaya daging, dia gemuk sedang saya kurus)....</p>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                        </div>
                    </div>

                    <ul class="pager success">
                        <li class="previous"><a href="#">历史</a>
                        </li>
                        <li class="next disabled"><a href="#">更新&gt;
                        </a></li>
                    </ul>

                    <form onsubmit="onSubmit(); return false;">
                        <select style="margin-bottom:8px" id="client_list">
                              <option value="all">所有人</option>
                          </select>
                          <textarea class="textarea thumbnail" id="textarea"></textarea>
                          <div class="say-btn"><input type="submit" class="btn btn-default" value="发表" /></div>
                     </form>
                </div>
                <!--  END OF BLOG CONTENT -->

                <!--  BLOG SIDE CONTENT -->
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <img class="media-object img-circle blog-profile" data-src="holder.js/64x64" alt="64x64" src="/assets/img/10.jpg">
                        <hr style="margin:0;">

                        <div class="panel-body">
                            <p class="lead text-center">逍遥</p>
                            <!-- <p class="tex-center social-blog-profile">
                                <a href="#">
                                    <span class="entypo-facebook-circled"></span>
                                </a>
                                <a class="tweet-link" href="#">
                                    <span class="entypo-twitter-circled"></span>
                                </a>
                                <a class="gplus-textcolor" href="#">
                                    <span class="entypo-instagrem"></span>
                                </a>

                            </p> -->
                            <p style="text-align: center;">
                              <span class="fontawesome-money" title="金钱"></span>&nbsp;{$userinfo.money}&nbsp;&nbsp;
                              <span class="entypo-trophy" title="精力"></span>&nbsp;{$userinfo.ene}&nbsp;&nbsp;
                              <span class="fontawesome-user-md" title="力量"></span>&nbsp;{$userinfo.str}&nbsp;&nbsp;<span class="fontawesome-user-md" title="敏捷"></span>&nbsp;{$userinfo.agi}&nbsp;&nbsp;
                              <!-- <span class="entypo-gauge"></span>&nbsp;12 Km/<i>Hours</i>&nbsp;&nbsp; -->
                            </p>
                        </div>
                    </div>
                    <!--  功能区 -->
                    <div class="blog-side-nest">
                        <!-- <h4 class="text-left">功能</h4>
                        <hr style="margin:0"> -->
                        <ul class="list-inline">
                            <li>
                                <a class="btn btn-info" onclick="startworks();" href="javascript:void(0);">开工</a>
                            </li>
                            <li>
                                <a class="btn btn-info" data-toggle="modal" data-target="#contest_1" href="javascript:void(0);">练习赛</a>
                            </li>

                        </ul>
                    </div>

                    <!-- <div class="blog-side-nest">
                        <h4 class="text-center">加入机构</h4>
                        <p class="text-center">Sign up for our daily Newslatter</p>
                        <form role="form">
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="col-xs-4 col-full-width-left">
                                    <button type="submit" class="btn btn-info btn-block">Sign up</button>
                                </div>
                            </div>
                        </form>
                    </div> -->

                    <div class="blog-side-nest">
                        <h4 class="text-left">实时</h4>
                        <hr style="margin:0">

                        <div class="media">
                            <div class="media-body">
                                <h5 class="media-heading">Cras sit amet nibh Lorem ipsum dolor si amet</h5>
                                <!-- <a class="link-comment recentpost-link" style="margin:-10px 0 10px" href="#">88 Views</a> -->
                            </div>
                        </div>                        
                        <br>
                    </div>                    
                </div>
                <!--  END OF BLOG SIDE CONTENT -->
            </div>


            <!-- /END OF CONTENT -->
        </div>
      </div>
    <!-- 位置选择模态框（Modal） -->
    <div class="modal fade" id="contest_1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">选择位置</h4>
                </div>
                <div class="modal-body">
                  <label class="col-sm-2 control-label">位置：</label>
                  <select id="myType" class="filter-status form-control">
                      <option value="1" data-i18n="deviceManage.byte">1</option>
                      <option value="2" data-i18n="deviceManage.int">2</option>
                      <option value="3" data-i18n="deviceManage.long">3</option>
                      <option value="4" data-i18n="deviceManage.float">4</option>
                      <option value="5" data-i18n="deviceManage.double">5</option>
                      <option value="6" data-i18n="deviceManage.double">6</option>
                      <option value="7" data-i18n="deviceManage.double">7</option>
                      <option value="8" data-i18n="deviceManage.double">8</option>
                      <option value="9" data-i18n="deviceManage.double">9</option>
                      <option value="10" data-i18n="deviceManage.double">10</option>
                      <option value="11" data-i18n="deviceManage.double">11</option>
                  </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary contest_firest">匹配</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 阵容匹配模态框（Modal） -->
    <div class="modal fade" id="contest_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">阵容</h4>
                </div>
                <div class="modal-body">
                  <div style="width: 99%;">
                    <label>我方：</label>
                    <ul id="mygroup"></ul>
                  </div>
                  <div style="width: 99%;">
                    <label>对方：</label>
                    <ul id="eqgroup"></ul>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary contest_second" data-toggle="modal" data-target="#contest_2">进场</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <!-- 计算结果模态框（Modal） -->
    <div class="modal fade" id="contest_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">比赛结果</h4>
                </div>
                <div class="modal-body">
                  <div style="width: 100%" id="contestatlast"><h2>比赛进行中......</h2></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <!-- <button type="button" class="btn btn-primary contest_firest" data-toggle="modal" data-target="#contest_2">进场</button> -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <script type="text/javascript">
      thiscontest = [];
      $('.contest_firest').click(function() {
        var myplace = $("#contest_1 #myType option:selected").val();
        //var paramName = $("#addCanshu input[name='paramName']").val();
        $.post('/Mylife/contestFirest', {myplace: myplace,action: 'firest'}, function(sdata) {
          if (sdata.status == undefined) {
            thiscontest = sdata;
            var myhtml = "";
            var eqhtml = "";            
            for (var i = 0; i < sdata.length; i++) {
              if (sdata[i]['group'] == 'm') {
              myhtml += "<li>"+sdata[i]['username']+"</li>";
              $('#contest_2 #mygroup').html(myhtml);
              }else{
                eqhtml += "<li>"+sdata[i]['username']+"</li>";
                $('#contest_2 #eqgroup').html(eqhtml);
              }            
            }
            $('#contest_1').modal('hide');
            $('#contest_2').modal('show');
          }else{
            alert(sdata.msg);
            $('#contest_1').modal('hide');
          }
        });        
      });

      $('.contest_second').click(function() {
        $('#contest_3 #contestatlast').html("<h2>比赛进行中......</h2>");
        $.post('/Mylife/contestSecond', function(sdata) {
          $('#contest_3 #contestatlast').append("<h2>"+sdata.msg+"</h2>");          
          $('#contest_3').modal('show');
          getuserinfo();
          console.log(sdata);
        });
      });
    </script>
    <!-- 页面操作-->
    <script type="text/javascript">
      function hidepl(hh){
        var thispl = $(hh).parent().parent().find('ul');
        var ishide = thispl.is(':hidden');
        if (ishide) {
          $(hh).parent().parent().find('ul').slideDown();
        }else{
          $(hh).parent().parent().find('ul').slideUp();
        }
        
      }
    </script>
</body>
</html>
