<!-- 网络设置 -->
        <title> 网络设置 </title>
        <include file="Common:matrix_header" />
        <include file="Common:matrix_menu" />
        <div class="jt_leftMenu1">
            <include file="Common:matrix_leftbar_xtSet" />
            <!-- 中间 -->
            <div class="wrap-fluid jt_networkMain jt_basicMain jt_main">
                <div class="container-fluid paper-wrap bevel tlbr">
                    <div class="content-wrap">
                        <div class="row">
                            <div id="paper-top">
                                <div class="col-sm-3">
                                    <h2 class="tittle-content-header">
                                        <i class="icon-media-record"></i>
                                        <span>网络设置</span>
                                    </h2>
                                </div>
                                <include file="Common:matrix_mainMiddle" />
                                <div class="col-sm-2">
                                    <div class="devider-vertical visible-lg"></div>
                                    <div class="btn-group btn-wigdet pull-right visible-lg">
                                        <div class="btn">
                                            Widget</div>
                                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-plus-circled margin-iconic"></span>Add New
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-heart margin-iconic"></span>Favorite
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-cog margin-iconic"></span>Setting
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="body-nest jt_rowNest3" id="Blank_Page_Content">
                                    <div class="row">
                                        <div class="col-md-12 personal-info">
                                            <div class="alert alert-info alert-dismissable">
                                                <a class="panel-close close" data-dismiss="alert">×</a>
                                                <i class="fa fa-coffee"></i>
                                                通过以下内容
                                                <strong>设置</strong>. 网口、IP地址、MAC地址、网关地址、DNS服务器等.
                                            </div>
                                            <h3>网络设置</h3>
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">网口（W）:</label>
                                                    <div class="col-lg-6">
                                                        <select class="filter-status form-control">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">IP地址（I）:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">子网掩码（U）:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">网关地址（D）:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">首选DNS服务器（P）:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control"  type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">备用DNS服务器（A）:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">IP地址（I）2:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">子网掩码（U）2:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">MAC地址:</label>
                                                    <div class="col-lg-6">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <button class="btn btn-success jt_success">设&emsp;置</button>
                                                        <button class="btn btn-primary jt_success jt_success1">添加IP地址</button>
                                                        <button class="btn btn-danger jt_success jt_success1">取&emsp;消</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common:footer" />
    </body>
</html>