<!-- 音频输出设置 -->
        <title> 音频输出设置 </title>
        <include file="Common:matrix_header" />
        <include file="Common:matrix_menu" />
        <div class="jt_leftMenu1">
            <include file="Common:matrix_leftbar_xtSet" />
            <include file="Common:msgFootable" />
            <script src="/Public/common/js/msgFootable.js"></script>
            <!-- 中间 -->
            <div class="wrap-fluid jt_audioMain jt_basicMain jt_main">
                <div class="container-fluid paper-wrap bevel tlbr">
                    <div class="content-wrap">
                        <div class="row">
                            <div id="paper-top">
                                <div class="col-sm-3">
                                    <h2 class="tittle-content-header">
                                        <i class="icon-media-record"></i>
                                        <span>音频输出设置</span>
                                    </h2>
                                </div>
                                <include file="Common:matrix_mainMiddle" />
                                <div class="col-sm-2">
                                    <div class="devider-vertical visible-lg"></div>
                                    <div class="btn-group btn-wigdet pull-right visible-lg">
                                        <div class="btn">
                                            Widget</div>
                                        <button data-toggle="dropdown" class="btn dropdown-toggle jt_dropTo">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-plus-circled margin-iconic"></span>Add New
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-heart margin-iconic"></span>Favorite
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-cog margin-iconic"></span>Setting
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 jt_rowNest2">
                            <div class="alert alert-info alert-dismissable jt_alert">
                                <a class="panel-close close" data-dismiss="alert">×</a>
                                <i class="fa fa-coffee"></i>
                                通过表格选择框里选择并
                                <strong>设置</strong>. 修改输出格式、解码格式等.
                            </div>
                            <div class="nest" id="FootableClose">
                                <div class="title-alt">
                                    <h6>
                                        音频输出设置
                                    </h6>
                                    <div class="titleClose">
                                        <a class="gone" href="#FootableClose">
                                            <span class="entypo-cancel"></span>
                                        </a>
                                    </div>
                                    <div class="titleToggle">
                                        <a class="nav-toggle-alt" href="#Footable">
                                            <span class="entypo-up-open"></span>
                                        </a>
                                    </div>
                                </div>
                                <div class="body-nest" id="Footable">
                                    <table class="table-striped footable-res footable metro-blue" data-page-size="6">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>板号</th>
                                            <th data-hide="phone,tablet">输出格式</th>
                                            <th data-hide="phone">解码格式</th>
                                            <th>采样率</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><input type="checkbox"/></td>
                                            <td>1</td>
                                            <td>
                                                <select class="filter-status form-control">
                                                    <option value="1">音频输出</option>
                                                    <option value="2">视频输出</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="filter-status form-control">
                                                    <option value="1">G71A</option>
                                                    <option value="2">U82B</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="filter-status form-control">
                                                    <option value="1">8000Hz</option>
                                                    <option value="2">6000Hz</option>
                                                </select>
                                            </td>
                                            <td data-value="1">
                                                <div class="btn-group">
                                                    <button class="btn btn-info">一键修改</button>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><input type="checkbox"/></td>
                                            <td>1</td>
                                            <td>
                                                <select class="filter-status form-control">
                                                    <option value="1">音频输出</option>
                                                    <option value="2">视频输出</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select name="" id="" class="filter-status form-control">
                                                    <option value="1">G71A</option>
                                                    <option value="2">U82B</option>
                                                </select>
                                            </td>
                                            <td>
                                                <select class="filter-status form-control">
                                                    <option value="1">8000Hz</option>
                                                    <option value="2">6000Hz</option>
                                                </select>
                                            </td>
                                            <td data-value="2">
                                                <div class="btn-group">
                                                    <button class="btn btn-info">一键修改</button>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <div class="pagination pagination-centered"></div>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common:footer" />
    </body>
</html>