<!-- 输出显示设置 -->
        <title> 输出显示设置 </title>
        <include file="Common:matrix_header" />
        <link rel="stylesheet" href="/Public/common/css/plugins/slider/bootstrap-slider.css"/>
        <script src="/Public/common/js/plugins/slider/bootstrap-slider.js"></script>
        <include file="Common:matrix_menu" />
        <div class="jt_leftMenu1">
            <include file="Common:matrix_leftbar_xtSet" />
            <!-- 中间 -->
            <div class="wrap-fluid jt_outputMain jt_basicMain jt_main">
                <div class="container-fluid paper-wrap bevel tlbr">
                    <div class="content-wrap">
                        <div class="row">
                            <div id="paper-top">
                                <div class="col-sm-3">
                                    <h2 class="tittle-content-header">
                                        <i class="icon-media-record"></i>
                                        <span>输出显示设置</span>
                                    </h2>
                                </div>
                                <include file="Common:matrix_mainMiddle" />
                                <div class="col-sm-2">
                                    <div class="devider-vertical visible-lg"></div>
                                    <div class="btn-group btn-wigdet pull-right visible-lg">
                                        <div class="btn">
                                            Widget</div>
                                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-plus-circled margin-iconic"></span>Add New
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-heart margin-iconic"></span>Favorite
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-cog margin-iconic"></span>Setting
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="body-nest jt_rowNest2" id="Blank_Page_Content">
                                    <div class="row">
                                        <div class="col-md-12 personal-info">
                                            <div class="alert alert-info alert-dismissable">
                                                <a class="panel-close close" data-dismiss="alert">×</a>
                                                <i class="fa fa-coffee"></i>
                                                通过滑动开始滑动并
                                                <strong>设置</strong>. 值，修改奇数偶数路输出.
                                            </div>
                                            <h4>奇数路输出</h4>
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">亮度值:</label>
                                                    <div class="col-lg-6">
                                                        <input id="volumeSlide1" data-slider-id="volumeSlide" type="text" data-slider-min="0"
                                                               data-slider-max="32" data-slider-step="1" data-slider-value="24" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">对比度值:</label>
                                                    <div class="col-lg-6">
                                                        <input id="volumeSlide2" data-slider-id="volumeSlide" type="text" data-slider-min="0"
                                                               data-slider-max="32" data-slider-step="1" data-slider-value="24" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">色调值:</label>
                                                    <div class="col-lg-6">
                                                        <input id="volumeSlide3" data-slider-id="volumeSlide" type="text" data-slider-min="0"
                                                               data-slider-max="32" data-slider-step="1" data-slider-value="24" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">饱和度值:</label>
                                                    <div class="col-lg-6">
                                                        <input id="volumeSlide4" data-slider-id="volumeSlide" type="text" data-slider-min="0"
                                                               data-slider-max="32" data-slider-step="1" data-slider-value="24" />
                                                    </div>
                                                </div>
                                                <h4>偶数路输出</h4>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">亮度值:</label>
                                                    <div class="col-lg-6">
                                                        <input id="volumeSlide5" data-slider-id="volumeSlide" type="text" data-slider-min="0"
                                                               data-slider-max="32" data-slider-step="1" data-slider-value="24" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">对比度值:</label>
                                                    <div class="col-lg-6">
                                                        <input id="volumeSlide6" data-slider-id="volumeSlide" type="text" data-slider-min="0"
                                                               data-slider-max="32" data-slider-step="1" data-slider-value="24" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">色调值:</label>
                                                    <div class="col-lg-6">
                                                        <input id="volumeSlide7" data-slider-id="volumeSlide" type="text" data-slider-min="0"
                                                               data-slider-max="32" data-slider-step="1" data-slider-value="24" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label">饱和度值:</label>
                                                    <div class="col-lg-6">
                                                        <input id="volumeSlide8" data-slider-id="volumeSlide" type="text" data-slider-min="0"
                                                               data-slider-max="32" data-slider-step="1" data-slider-value="24" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-12">
                                                        <button class="btn btn-primary jt_success">设&emsp;置</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            /* 音量 */
            $('#volumeSlide1,#volumeSlide2,#volumeSlide3,#volumeSlide4,#volumeSlide5,#volumeSlide6,#volumeSlide7,#volumeSlide8').slider({
                formatter: function (value) {
                    return 'Current value: ' + value;
                }
            }).on('slide', function (slideEvt) {
                //当滚动时触发
                //console.info(slideEvt);
                //获取当前滚动的值，可能有重复
                // console.info(slideEvt.value);
            }).on('change', function (e) {
                //当值发生改变的时候触发
                //console.info(e);
                //获取旧值和新值
                console.info(e.value.oldValue + '--' + e.value.newValue);
            });

        </script>
        <include file="Common:footer" />
    </body>
</html>