<!-- 升级设备 -->
        <title> 升级设备 </title>
        <include file="Common:matrix_header" />
        <include file="Common:matrix_menu" />
        <div class="jt_leftMenu1">
            <include file="Common:matrix_leftbar_xtSet" />
            <!-- 中间 -->
            <div class="wrap-fluid jt_upgraMain jt_basicMain jt_main">
                <div class="container-fluid paper-wrap bevel tlbr">
                    <div class="content-wrap">
                        <div class="row">
                            <div id="paper-top">
                                <div class="col-sm-3">
                                    <h2 class="tittle-content-header">
                                        <i class="icon-media-record"></i>
                                        <span>升级设备</span>
                                    </h2>
                                </div>
                                <include file="Common:matrix_mainMiddle" />
                                <div class="col-sm-2">
                                    <div class="devider-vertical visible-lg"></div>
                                    <div class="btn-group btn-wigdet pull-right visible-lg">
                                        <div class="btn">
                                            Widget</div>
                                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu">
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-plus-circled margin-iconic"></span>Add New
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-heart margin-iconic"></span>Favorite
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="entypo-cog margin-iconic"></span>Setting
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="body-nest jt_rowNest10" id="Blank_Page_Content">
                                    <div class="row">
                                        <div class="col-md-12 personal-info">
                                            <div class="alert alert-info alert-dismissable">
                                                <a class="panel-close close" data-dismiss="alert">×</a>
                                                <i class="fa fa-coffee"></i>
                                                选择
                                                <strong>系统升级文件</strong>. 并升级该设备.
                                            </div>
                                            <h3>设升级备</h3>
                                            <div class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-lg-3 control-label jt_leftLabel">请选择系统升级文件:</label>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-lg-6 col-lg-offset-2">
                                                        <input class="form-control" type="text">
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <button class="btn btn-success">浏&nbsp;览</button>
                                                    </div>
                                                    <div class="col-lg-6 col-lg-offset-2 jt_redInfo">提示：文件的真实路径已被浏览器隐藏</div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-8 col-lg-offset-2">
                                                        <input class="btn btn-primary" value="升&emsp;级" type="button">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <include file="Common:footer" />
    </body>
</html>