<!-- 报警事件 -->
<html>
<title data-i18n="alert.alertEvent"></title>
<include file="Common:matrix_header" />
<include file="Common:matrix_menu" />
<include file="Common:alert_leftbar_public" />
<include file="Common:msgFootable" />
<script src="/Public/common/js/msgFootable.js"></script>
<!-- 中间 -->
<div class="wrap-fluid jt_basicMain jt_main">
    <div class="container-fluid paper-wrap bevel tlbr">
        <div class="content-wrap">
            <div class="row">
                <div id="paper-top">
                    <div class="col-sm-3">
                        <h2 class="tittle-content-header">
                            <i class="icon-media-record"></i>
                            <span data-i18n="alert.alertEvent"></span>
                        </h2>
                    </div>
                    <include file="Common:matrix_mainMiddle" />
                    <div class="col-sm-2">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="btn-group btn-wigdet pull-right visible-lg">
                            <div class="btn">
                                Widget</div>
                            <button data-toggle="dropdown" class="btn dropdown-toggle jt_dropTo">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span class="entypo-plus-circled margin-iconic"></span>Add New
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-heart margin-iconic"></span>Favorite
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-cog margin-iconic"></span>Setting
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 jt_rowNest1">
                <div class="nest" id="FootableClose">
                    <div class="title-alt">
                        <h6 data-i18n="alert.alertEvent"></h6>
                        <div class="titleClose">
                            <a class="gone" href="#FootableClose">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Footable">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>
                    <div class="body-nest" id="Footable">
                        <table class="table-striped footable-res footable metro-blue" data-page-size="10">
                            <thead>
                            <tr>
                                <th><span data-i18n="public.number"></span></th>
                                <th><span data-i18n="alert.eventName"></span></th>
                                <th><span data-i18n="alert.eventCode"></span></th>
                                <th><span data-i18n="alert.remarks"></span></th>
                                <th><span data-i18n="alert.establishTime"></span></th>
                                <th><span data-i18n="public.operation"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="list" id="v">
                                <tr>
                                    <td class="jt_hiddenTd3 footable-first-column">{$i}</td>
                                    <td class="jt_hiddenTd3">{$v.name}</td>
                                    <td class="jt_hiddenTd3">{$v.code}</td>
                                    <td class="jt_hiddenTd4">{$v.remark}</td>
                                    <td class="jt_hiddenTd4">{$v.createtime|date='Y-m-d H:i:s',###}</td>
                                    <td class="jt_hiddenTd4 footable-last-column">
                                        <div class="btn-group">
                                            <button data-id="{$v.id}" data-code="{$v.code}" data-name="{$v.name}" data-remark="{$v.remark}" class="btn btn-warning editEvent" data-i18n="public.edit"></button>
                                            <button data-id="{$v.id}" class="btn btn-danger delEvent" data-i18n="public.delete"></button>
                                        </div>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="pagination pagination-centered"></div>
                                </td>
                            </tr>
                            </tfoot>
                            <div class="btn-group">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#addEventModal" data-i18n="alert.addEvent"></button>
                            </div>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 添加事件 -->
<div aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade bs-example-modal-lg" aria-hidden="true" id="addEventModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    <span class="entypo-cancel"></span>
                </button>
                <h6 class="modal-title" data-i18n="alert.addEvent"></h6>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  for="a_event" class="col-sm-2 control-label" data-i18n="alert.eventName"></label>
                        <div class="col-sm-10">
                            <input type="text" data-i18n="[placeholder]alert.eventName" id="a_event" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  for="a_code" class="col-sm-2 control-label" data-i18n="alert.eventCode"></label>
                        <div class="col-sm-10">
                            <input type="text" data-i18n="[placeholder]alert.eventCode" id="a_code" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="a_remark" class="col-sm-2 control-label" data-i18n="alert.remarks"></label>
                        <div class="col-sm-10">
                            <textarea data-i18n="[placeholder]alert.remarks" id="a_remark" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group jt_btnGroupWZ">
                        <button class="btn btn-primary col-sm-offset-2" id="addEventBtn" data-i18n="public.confirm"></button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="public.cancel"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 修改事件 -->
<div aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade bs-example-modal-lg" aria-hidden="true" id="editEventModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    <span class="entypo-cancel"></span>
                </button>
                <h6 class="modal-title" data-i18n="alert.modifyEvent"></h6>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label  for="a_event" class="col-sm-2 control-label" data-i18n="alert.eventName"></label>
                        <div class="col-sm-10">
                            <input type="text" data-i18n="[placeholder]alert.eventName" id="e_event" class="form-control">
                            <input type="hidden" id="e_id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label  for="e_code" class="col-sm-2 control-label" data-i18n="alert.eventCode"></label>
                        <div class="col-sm-10">
                            <input type="text" data-i18n="[placeholder]alert.eventCode" id="e_code" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="a_remark" class="col-sm-2 control-label" data-i18n="alert.remarks"></label>
                        <div class="col-sm-10">
                            <textarea data-i18n="[placeholder]alert.remarks" id="e_remark" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group jt_btnGroupWZ">
                        <button class="btn btn-primary col-sm-offset-2" id="editEventBtn" data-i18n="public.confirm"></button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="public.cancel"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer" />
<script>
    $('#addEventBtn').on('click',function(){
        var name = $('#a_event').val();
        var code = $('#a_code').val();
        var remark = $('#a_remark').val();
        if(!code){
            publicAlert({
                title: '提示信息',
                content: '请填写事件编码',
                icon: 'fa fa-rocket'
            },false);
            return;
        }
        if(!name){
            publicAlert({
                title: '提示信息',
                content: '请填写事件名称',
                icon: 'fa fa-rocket'
            },false);
            return;
        }
        confirmBtnDisabled($(this),'/Alert/addEvent',{code:code,name:name,remark:remark},true);
    });
    $('.editEvent').on('click',function(){
        $('#e_id').val($(this).attr('data-id'));
        $('#e_event').val($(this).attr('data-name'));
        $('#e_code').val($(this).attr('data-code'));
        $('#e_remark').val($(this).attr('data-remark'));
        $('#editEventModal').modal('show');
    });
    $('#editEventModal').on('hidden.bs.modal', function () {
        $('#editEventModal input').val('');
    });
    $('#editEventBtn').on('click',function(){
        var id = $('#e_id').val();
        var name = $('#e_event').val();
        var code = $('#e_code').val();
        var remark = $('#e_remark').val();
        if(!id){
            publicAlert({
                title: '提示信息',
                content: '无效数据',
                icon: 'fa fa-rocket'
            },false);
            return;
        }
        if(!code){
            publicAlert({
                title: '提示信息',
                content: '请填写事件编码',
                icon: 'fa fa-rocket'
            },false);
            return;
        }
        if(!name){
            publicAlert({
                title: '提示信息',
                content: '请填写事件名称',
                icon: 'fa fa-rocket'
            },false);
            return;
        }
        confirmBtnDisabled($(this),'/Alert/modifyEvent',{id:id,code:code,name:name,remark:remark},true);
    });
    $('.delEvent').on('click',function(){
        var id = $(this).attr('data-id');
        if(!id){
            publicAlert({
                title: '提示信息',
                content: '无效数据',
                icon: 'fa fa-rocket'
            },false);
            return;
        }
        confirmBtnDisabled($(this),'/Alert/delEvent',{id:id},true);
    });
</script>
</body>
</html>