<!-- 报警类型 -->
<html>
<title data-i18n="common.alertType"></title>
<include file="Common:matrix_header" />
<include file="Common:matrix_menu" />
<include file="Common:alert_leftbar_public" />
<include file="Common:msgFootable" />
<script src="/Public/common/js/msgFootable.js"></script>
<!-- 中间 -->
<div class="wrap-fluid jt_basicMain jt_main">
    <div class="container-fluid paper-wrap bevel tlbr">
        <div class="content-wrap">
            <div class="row">
                <div id="paper-top">
                    <div class="col-sm-3">
                        <h2 class="tittle-content-header">
                            <i class="icon-media-record"></i>
                            <span data-i18n="common.alertType"></span>
                        </h2>
                    </div>
                    <include file="Common:matrix_mainMiddle" />
                    <div class="col-sm-2">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="btn-group btn-wigdet pull-right visible-lg">
                            <div class="btn">
                                Widget</div>
                            <button data-toggle="dropdown" class="btn dropdown-toggle jt_dropTo">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu">
                                <li>
                                    <a href="#">
                                        <span class="entypo-plus-circled margin-iconic"></span>Add New
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-heart margin-iconic"></span>Favorite
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="entypo-cog margin-iconic"></span>Setting
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 jt_rowNest1">
                <div class="nest" id="FootableClose">
                    <div class="title-alt">
                        <h6 data-i18n="common.alertType"></h6>
                        <div class="titleClose">
                            <a class="gone" href="#FootableClose">
                                <span class="entypo-cancel"></span>
                            </a>
                        </div>
                        <div class="titleToggle">
                            <a class="nav-toggle-alt" href="#Footable">
                                <span class="entypo-up-open"></span>
                            </a>
                        </div>
                    </div>
                    <div class="body-nest" id="Footable">
                        <table class="table-striped footable-res footable metro-blue" data-page-size="10">
                            <thead>
                            <tr>
                                <th><span data-i18n="public.number"></span></th>
                                <th><span data-i18n="common.alertType"></span></th>
                                <th><span data-i18n="alert.alertParameter"></span></th>
                                <th><span data-i18n="alert.alertDirective"></span></th>
                                <th><span data-i18n="alert.remarks"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="jt_hiddenTd3"></td>
                                    <td class="jt_hiddenTd3">1</td>
                                    <td class="jt_hiddenTd3">1</td>
                                    <td class="jt_hiddenTd4">1</td>
                                    <td class="jt_hiddenTd4">1</td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="pagination pagination-centered"></div>
                                </td>
                            </tr>
                            </tfoot>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#addAlertType" data-i18n="alert.addType"></button>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 添加类型 -->
<div aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade bs-example-modal-lg" aria-hidden="true" id="addAlertType">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                    <span class="entypo-cancel"></span>
                </button>
                <h6 class="modal-title" data-i18n="alert.addType"></h6>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" data-i18n="alert.alertType"></label>
                        <div class="col-sm-10">
                            <select class="filter-status form-control">
                                <option value="0" data-i18n="common.allDevice"></option>
                                <option value="0">设备开关量报警</option>
                                <option value="0">设备数据异常报警</option>
                                <option value="0">视频丢失报警</option>
                                <option value="0">移动侦测报警</option>
                                <option value="0">视频遮挡报警</option>
                                <option value="0">设备异常报警</option>
                                <option value="0">设备连接异常报警</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  for="a_code" class="col-sm-2 control-label" data-i18n="alert.alertParameter"></label>
                        <div class="col-sm-10">
                            <input type="text" data-i18n="[placeholder]alert.alertParameter" id="a_code" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="a_remark" class="col-sm-2 control-label" data-i18n="alert.alertDirective"></label>
                        <div class="col-sm-10">
                            <textarea data-i18n="[placeholder]alert.alertDirective" id="a_remark" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="form-group jt_btnGroupWZ">
                        <button class="btn btn-primary col-sm-offset-2" id="addEventBtn" data-i18n="public.confirm"></button>
                        <button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="public.cancel"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer" />
</body>
</html>