<div class="jt_ifPluginTips jt_download">
    <span data-i18n="common.browserTesting"></span><a href="http://www.msu7.net/pgSetup_zh_v1.28.0.msi">http://www.msu7.net/pgSetup_zh_v1.28.0.msi</a>
    &emsp;<span class="entypo-cancel jt_jianceClose jt_closeBox"></span>
    <span class="jt_noTips" data-i18n="common.noTips"></span>
</div>
<div class="jt_ifPluginTips jt_tipInfo">
    <span data-i18n="common.browserEdition"></span>
    &emsp;<span class="entypo-cancel jt_jianceClose jt_closeBox1"></span>&emsp;
    <span class="jt_noTips" data-i18n="common.noTips"></span>
</div>
<div class="jt_ifPluginTips jt_FBLTipInfo">
    <span data-i18n="common.screenWidth"></span>
    &emsp;<span class="entypo-cancel jt_jianceClose jt_closeBox2"></span>&emsp;
    <span class="jt_noTips" data-i18n="common.noTips"></span>
</div>