<html class="i18_links">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- END OF RIGHT SLIDER CONTENT-->
    <script src="__JS__jquery-2.1.1.js"></script>
    <script src="__JS__bootstrap.min.js"></script>
    <script src="__JS__plugins/i18next/i18next.min.js"></script>
    <!-- jquery confirm -->
    <script src="__JS__plugins/confirm/jquery-confirm.js"></script>
    <link rel="stylesheet" href="__CSS__plugins/confirm/jquery-confirm.css"/>
    <script src="__JS__plugins/slider/bootstrap-slider.js"></script>
    <link href="__CSS__bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="__JS__moment-with-locales.min.js"></script>
    <script src="__JS__bootstrap-datetimepicker.min.js"></script>
    <script src="__JS__jquery-smartMenu.js"></script>
    <script src="/Public/common/js/jquery.cookie.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/Public/common/js/menuUpDown.js"></script>
    <script src="/Public/common/js/plugins/layer/layer.js"></script>
    <!-- Le styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/loader-style.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="__CSS__plugins/slider/bootstrap-slider.css">
    <link rel="stylesheet" href="/assets/js/progress-bar/number-pb.css">
    <link href="__CSS__publicIndex.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/assets/ico/minus.png">
</head>
<body>
<div class="jt_wrapPage">