<!-- 左菜单 -->
<div class="jt_leftXTMenu">
    <div id="skin-select">
        <include file="Common:logoFunc" />
        <div class="jt_leftBarMenu" id="jt_leftBarMenu">
            <div class="skin-part">
                <div id="tree-wrap">
                    <div class="side-bar">
                        <ul class="topnav top2 menu-left-nest topList">
                            <li>
                                <a id="jt_showhide2" onclick="showmenu(this)" class="tooltip-tip title-menu-left ajax-load">
                                    <span data-i18n="common.basicSet"></span>
                                    <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                                </a>
                            </li>
                            <ul id="menu-showhide2">
                                <li>
                                    <a href="{:U('/SystemSet/timeSet','','')}" data-i18n="common.timeSet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/effectSet','','')}" data-i18n="common.effectSet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/windowSet','','')}" data-i18n="common.windowSet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/outputDisplaySet','','')}" data-i18n="common.outputShowSet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/streamSet','','')}" data-i18n="common.windowStreamSet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/audioSet','','')}" data-i18n="common.audioOutputSet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/systemSet','','')}" data-i18n="common.systemServiceSet"></a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="topnav top2 menu-left-nest topList">
                            <li>
                                <a id="jt_showhide3" onclick="showmenu(this)" class="tooltip-tip title-menu-left ajax-load">
                                    <span data-i18n="common.networkSet"></span>
                                    <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                                </a>
                            </li>
                            <ul id="menu-showhide3">
                                <li>
                                    <a href="{:U('/SystemSet/networkSet','','')}" data-i18n="common.networkSet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/sDKPortSet','','')}" data-i18n="common.sDKPortSet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/platformSet','','')}" data-i18n="common.platformSet"></a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="topnav top2 menu-left-nest topList">
                            <li>
                                <a id="jt_showhide4" onclick="showmenu(this)" class="tooltip-tip title-menu-left ajax-load">
                                    <span data-i18n="common.serialPortSet"></span>
                                    <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                                </a>
                            </li>
                            <ul id="menu-showhide4">
                                <li>
                                    <a href="{:U('/SystemSet/serialPortSet','','')}" data-i18n="common.serialPortSet"></a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="topnav top2 menu-left-nest topList">
                            <li>
                                <a id="jt_showhide5" onclick="showmenu(this)" class="tooltip-tip title-menu-left ajax-load">
                                    <span data-i18n="common.streamingMediaSet"></span>
                                    <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                                </a>
                            </li>
                            <ul id="menu-showhide5">
                                <li>
                                    <a href="{:U('/SystemSet/streamingSet','','')}" data-i18n="common.streamingMediaSet"></a>
                                </li>
                            </ul>
                        </ul>
                        <ul class="topnav top2 menu-left-nest topList">
                            <li>
                                <a id="jt_showhide6" onclick="showmenu(this)" class="tooltip-tip title-menu-left ajax-load">
                                    <span data-i18n="common.systemSet"></span>
                                    <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                                </a>
                            </li>
                            <ul id="menu-showhide6">
                                <li>
                                    <a href="{:U('/SystemSet/activeDevice','','')}" data-i18n="common.activeDevice"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/restartDevice','','')}" data-i18n="common.restartDevice"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/reset','','')}" data-i18n="common.resetFactorySet"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/upgradeDevice','','')}" data-i18n="common.upgradeDevice"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/importExport','','')}" data-i18n="common.importExportData"></a>
                                </li>
                                <li>
                                    <a href="{:U('/SystemSet/systemInfo','','')}" data-i18n="common.systemInfo"></a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>