<link rel="stylesheet" href="/assets/footable/css/footable.core.css" />
<link rel="stylesheet" href="/assets/footable/css/footable.standalone.css" />
<link rel="stylesheet" href="/assets/footable/css/footable-demos.css" />
<link rel="stylesheet" href="/Public/common/css/plugins/editable/jquery.editable-select.css" />
<script src="/assets/footable/js/footable.js"></script>
<script src="/assets/footable/js/footable.sort.js"></script>
<script src="/assets/footable/js/footable.filter.js"></script>
<script src="/assets/footable/js/footable.paginate.js"></script>
<script src="/Public/common/js/plugins/editable/jquery.editable-select.js"></script>